<div class="section">
    <div class="container">
        <div class="list_cata">
            <div class="col-md-12">
                <div class="row">
                    <h1>Danh sách bài viết </h1>
                    <div id="post-list-category">
                        {{#each news}}
                        <div class="col-md-12">
                            <div class="post post-row">
                                <a class="post-img"><img src="./img/{{img}}"></a>
                                <div class="post-body">
                                    <div class="post-meta">
                                        <a class="post-category">{{type}}</a>
                                        <a class="post-category cat-4">{{category}}</a>
                                        <span class="post-date">{{publicAt}}</span>
                                        <a class="post-category cat-3">{{status}}</a>
                                        {{#if edit}}
                                        <a class="post-category cat-2" data-toggle='modal' data-target='#admin-modal-approve'>Xuất
                                            bản</a>
                                        {{/if}}
                                    </div>
                                    <h3 class="post-title"><a>{{name}}</a></h3>
                                    <p class="post-abstract">{{abstract}}</p>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                        <div id="admins-list-post" class="writer-list-post list-cata">

                        </div>

                        <div id="load-more-admin-list-container" class="col-md-12" next_page=1 hidden>
                            <div class="section-row">
                                <button class="primary-button center-block" id="load-more-list">Xem Thêm</button>
                            </div>
                        </div>
                        {{!-- loading --}}
                        <div id="loading-admin-container" class="col-md-12 loading">
                            <img class="center-block" src="/img/loading.gif" alt=""></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="admin-modal-approve-now" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <div class="center-block">Bạn có thực sự muốn xuất bản bài viết này bây giờ ?</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" id="modal-approved-now-btn" idnews="" class="btn-modal-send" onclick="click_modal_approved_now(this)">Xuất
                            bản ngay</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="admin-modal-approve" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">Bạn muốn xuất bản vượt cấp</h2>
                    </div>
                    <div class="modal-body">
                        <h3>Hãy điều chỉnh lại thông tin chuyên mục và tag</h3>
                        <table>
                            <tr>
                                <td>
                                    <h4>Chuyên mục chính:</h4>
                                </td>
                                <td>
                                    <select onchange="admin_change_select_category()" id="admin_select_category">
                                        <option value="none">Chuyên mục</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <h4>Chuyên mục phụ: </h4>
                                </td>
                                <td>
                                    <select id="admin_select_sub_category">
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <h4>Tag:</h4>
                                </td>
                                <td><select id="admin-select-tag">
                                        {{#each tags}}
                                        <option value={{this.id}}>{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td><button id="btn_add_tag" onclick="click_to_add_tag()">+</button></td>
                            </tr>
                        </table>
                        <div>
                            <h4>Danh sách tag đã thêm: </h4>
                            <div id="admin-list-tag">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Hủy</button>
                        <button type="button" idnews="" id="admin-modal-approve-btn-approve" class="btn-modal-send"
                            onclick="click_approve_now_form(this)">Xuất bản ngay</button>
                    </div>
                </div>
            </div>
        </div>
        <script>

            const per_page_default = 6;
            let list_tag = [];
            function admin_renderListPost(_news, list_element) {
                if (_news.length) {
                    console.log(_news);
                    for (let i = 0, l = _news.length; i < l; i++) {
                        //const check_show_edit_button = (_news[i].status === 'rejected' || _news[i].status === 'draft') ?
                        //    ` <a class="post-category cat-2" style="float:right" href="${_news[i].link_edit}">Chỉnh
                        //                    sửa</a>` : ``;
                        const check_draft = (_news[i].status === 'draft') ?
                            `<button type="button" class="post-category cat-2" data-toggle="modal" idnews="${_news[i].id}"
                                            data-target="#admin-modal-approve" style="float:right" onClick='approve_click(this)'>Duyệt</button>` : ``
                        const check_approved = (_news[i].status === 'approved') ? `<button type="button" class="post-category cat-3" data-toggle="modal" idnews="${_news[i].id}"
                                            data-target="#admin-modal-approve-now" style="float:right" onClick='approve_now_click(this)'>Xuất bản</button>` : ``
                        const check_show_reason = (_news[i].status === 'rejected') ?
                            `<hr><h4>Lý do từ chối: ${_news[i].rejected_reason}</h4>` : ``

                        list_element.append(`
                                <div class="col-md-12">
                                    <div class="post post-row">
                                        <a class="post-img" href="${_news[i].link}"><img src="${_news[i].avatar}"></a>
                                        <div class="post-body">
                                            <div class="post-meta">                                
                                                <span class="post-category status-${_news[i].status}">${_news[i].status_vi}</span>`
                            //+ check_show_edit_button + `
                            + check_draft + check_approved
                            + `<span class="post-date">${_news[i].createdAt}</span>
                                            </div>
                                            <h3 class="post-title"><a href="${_news[i].link}">${_news[i].title}</a></h3>
                                            <p class="post-abstract">${_news[i].abstract}</p>`
                            + check_show_reason +
                            `</div>
                                    </div>
                                </div>`)
                    }
                }
                else {
                    list_element.append(`<div class="center-block">Nothing to show</div>`)
                }
            }

            function fetchListPost(list_post, page = 1, per_page = per_page_default) {
                const api_url = '/api/admins/getAllNews?&page=' + page + '&per_page=' + per_page;
                console.log(api_url)
                $.ajax(api_url, {
                    type: 'get',
                    dataType: 'json',
                }).done(_news => {
                    admin_renderListPost(_news.data, list_post);
                    if (_news.next_page > 0) {
                        $("#load-more-admin-list-container").show();
                        $("#load-more-admin-list-container").attr("next_page", _news.next_page);
                    }
                    $("#loading-admin-container").hide();
                }).fail(function (xhr, textStatus, errorThrown) {
                    alert(errorThrown);
                });
            }

            const list_post = $("#admins-list-post");
            fetchListPost(list_post);

            $("#load-more-list").click(function () {
                $("#load-more-admin-list-container").hide();
                $("#loading-admin-container").show();
                const next_page = parseInt($("#load-more-admin-list-container").attr("next_page"))
                fetchListPost(list_post, next_page);
            })

            function approve_click(btn) {
                //khi nhấn nút duyệt
                $.ajax("/api/editor/getCategoryAndTagOfNews/" + btn.getAttribute('idnews'), {
                    type: 'get',
                    dataType: 'json'
                }).done(data => {
                    $("#admin_select_category").val(data.data.sub_category.fk_category);
                    admin_change_select_category();
                    $("#admin_select_sub_category").val(data.data.sub_category.id);
                    list_tag = [];
                    $("#admin-list-tag").empty();
                    for (let i = 0, l = data.data.tags.length; i < l; i++) {
                        list_tag.push({
                            name: data.data.tags[i].tag.name,
                            id: data.data.tags[i].tag.id
                        })
                        $("#admin-list-tag").append(`<label id = "${data.data.tags[i].id}">${data.data.tags[i].tag.name}<button id ="${data.data.tags[i].id}" onClick = 'admin_delete_tag(this.id)'>X</button></label>`)
                    };
                    $("#admin-modal-approve-btn-approve").attr("idnews", btn.getAttribute('idnews'));
                }).fail(function (xhr, textStatus, errorThrown) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.msg);
                });
            }

            function click_approve_now_form(btn) {
                const data_approve = {
                    idNews: btn.getAttribute('idnews'),
                    list_tag: [],
                };
                for (let i = 0, l = list_tag.length; i < l; i++) {
                    data_approve.list_tag.push(list_tag[i].id);
                }
                data_approve.sub_category = $('#admin_select_sub_category').val();
                $.ajax("/api/admins/adjustedAndApproveNewsNow", {
                    type: 'post',
                    dataType: 'json',
                    data: data_approve
                }).done((_data) => {
                    location.reload();
                }).fail(function (xhr, textStatus, errorThrown) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.msg);
                });
            }

            function approve_now_click(btn) {
                $("#modal-approved-now-btn").attr("idnews", btn.getAttribute("idnews"))
            }

            function click_to_add_tag() {
                e = document.getElementById("admin-select-tag");
                var strUser = e.options[e.selectedIndex].text;
                var value = parseInt(e.value);
                var s = new String("");
                if (list_tag.length == 0)
                    list_tag.push({
                        name: strUser,
                        id: value
                    });
                else {
                    let count = 1;
                    for (let i = 0; i < list_tag.length; i++) {
                        if (list_tag[i].id === value) {
                            count = -1;
                            break;
                        }
                    }
                    if (count === 1) list_tag.push({
                        name: strUser,
                        id: value
                    });
                }
                for (let i = 0; i < list_tag.length; i++) {
                    s = s + "<label id = '" + list_tag[i].id + "'>" + list_tag[i].name + "<button id ='" + list_tag[i].id + "' onClick = 'admin_delete_tag(this.id)'>X</button></label>" + '\n';
                }
                document.getElementById("admin-list-tag").innerHTML = s;
                console.log(list_tag);
            }

            function click_modal_approved_now(btn) {
                console.log(btn.getAttribute('idnews'))
                $.ajax("/api/admins/approveNews/" + btn.getAttribute('idnews'), {
                    type: 'get',
                    dataType: 'json'
                }).done(_data => {
                    location.reload();
                }).fail(function (xhr, textStatus, errorThrown) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.msg);
                });
            }

            function admin_delete_tag(clicked_id) {
                let idlabel = clicked_id;
                let index = 0;;
                for (; index < list_tag.length; index++) {
                    if (parseInt(idlabel) === list_tag[index].id) {
                        break;
                    }

                }
                if (index < list_tag.length) {
                    list_tag.splice(index, 1);
                }
                var s = new String("");
                for (let i = 0; i < list_tag.length; i++) {
                    s = s + "<label id = '" + list_tag[i].id + "'>" + list_tag[i].name + "<button id ='" + list_tag[i].id + "' onClick = 'admin_delete_tag(this.id)'>X</button></label>" + '\n';
                }
                document.getElementById("admin-list-tag").innerHTML = s;
                console.log(list_tag);
            }



            let list_sub_category;
            $.ajax("/api/categories/getAllCategories", {
                type: 'get',
                dataType: 'json'
            }).done(function (data) {
                const select_category = $("#admin_select_category");
                for (let i = 0, l = data.data.list_category.length; i < l; i++) {
                    select_category.append(` <option value=${data.data.list_category[i].id}>${data.data.list_category[i].name}</option>`)
                };
                list_sub_category = data.data.list_sub_category;
            }).fail(function (xhr, textStatus, errorThrown) {
                var err = JSON.parse(xhr.responseText);
                alert(err.msg);
            });
            function admin_change_select_category() {
                e = document.getElementById("admin_select_category");
                var strUser = e.options[e.selectedIndex].text; // chuỗi được chọn ở chuyên mục cấp 1
                const select_sub_category = $("#admin_select_sub_category");
                select_sub_category.empty();
                for (let i = 0, l = list_sub_category[strUser].length; i < l; i++) {
                    select_sub_category.append(` <option value=${list_sub_category[strUser][i].id}>${list_sub_category[strUser][i].name}</option>`)
                };
            }

        </script>
    </div>