 <div class="admin-div">
     <div id = "form-admin-manage-category">
         <h2>Quản lý chuyên mục</h2>
            <table>
                <tr>
                    <td><h3>Chọn chuyên mục:</h3></td>
                    <td>
                        <select onchange="selected_option()" id="select_category">
                            <option value="none">Chuyên mục</option>
                            {{#each chuyenmuc}}
                                <option value={{value}}>{{name}}</option>
                            {{/each}}
                        </select>
                    </td>
                </tr>
            </table>
            <div id = "admin-manage">
                <table >
                    <tr>
                        <td>
                            <label>Danh sách Editor quản lý chuyên mục: </label>
                        </td>
                        <td id = "list-editor-manage">
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <label>Số lượng bài viết: 10</label>
                        </td>
                    </tr>
                </table>
                <label>Danh sách chuyên mục phụ: </label>
            </div>
                <table id = "table-sub-category">
                </table>
            
            <div id = 'btn_add_category'>
                <a>
                    Thêm chuyên mục
                </a>
            </div>
            <div class="modal fade" id="approve-modal" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Thay đổi chuyên mục phụ</h1>
                    </div>
                    <div class="modal-body">
                        <table>
                            <tr>
                                <td><h4>Chọn chuyên mục chính: </h4></td>
                                <td>
                                    <select onchange="selected_option()" id="select_category">
                                        <option value="none">Chuyên mục</option>
                                        {{#each chuyenmuc}}
                                            <option value={{value}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <textarea id="reject-reason" placeholder="Tên chuyên mục"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" id="modal-reject-news-btn" class="btn-modal-send" onclick="click_send_reject_news(this)">Gửi</button>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        function selected_option() {
            e = document.getElementById("select_category");
            var strUser = e.options[e.selectedIndex].text; // chuỗi được chọn ở chuyên mục cấp 1
            var value = e.value; // giá trị được chọn ở chuyên mục cấp 1
           
            if(value === 'danhgia') 
            {
                var sub = new String("");
                sub = "{{#each editor_danhgia}}<a href='#'>{{.}}</a>{{/each}}";
                s_editor_manage = sub;
                sub = "{{#each danhgia}}<tr><td class = 'td-name'><label>{{.}}</label></td><td class = 'td-btn'><button type='button' class = 'btn-del'><i class='fa fa-trash'></i></button><button type='button' class = 'btn-edit' data-toggle='modal' data-target='#approve-modal'><i class='fa fa-pencil-square-o'></i></button></td></tr>{{/each}}";
                 s_sub_category = sub;
            }
            else if(value === 'tintuc') 
            {
                var sub = new String("");
                sub ="{{#each editor_tintuc}}<a href='#'>{{.}}</a>{{/each}}";
                s_editor_manage = sub;
                sub = "{{#each tintuc}}<tr><td class = 'td-name'><label>{{.}}</label></td><td class = 'td-btn'><button type='button' class = 'btn-del'><i class='fa fa-trash'></i></button><button type='button' class = 'btn-edit' data-toggle='modal' data-target='#approve-modal'><i class='fa fa-pencil-square-o'></i></button></td></tr>{{/each}}";
                 s_sub_category = sub;
            }
            else if (value === 'tuvan') 
            {
                var sub = new String("");
                sub ="{{#each editor_tuvan}}<a href='#'>{{.}}</a>{{/each}}";
                s_editor_manage = sub;
                sub = "{{#each tuvan}}<tr><td class = 'td-name'><label>{{.}}</label></td><td class = 'td-btn'><button type='button' class = 'btn-del'><i class='fa fa-trash'></i></button><button type='button' class = 'btn-edit' data-toggle='modal' data-target='#approve-modal'><i class='fa fa-pencil-square-o'></i></button></td></tr>{{/each}}";
                s_sub_category = sub;
            }
            else{
                var sub = new String("");
                s_editor_manage = sub;
                s_sub_category = sub;
            }
            console.log(s_sub_category);
            document.getElementById("list-editor-manage").innerHTML = s_editor_manage; 
            document.getElementById("table-sub-category").innerHTML = s_sub_category; 
        }
    </script>
</div>