<div class="admin-div">
    <div id="form-admin-manage-category">
        <h2>Quản lý tag</h2>
        <div id="form-view-list-tag">
            <table id="table-sub-category">
                {{#each tags}}
                <tr id='tag{{id}}'>
                    <td class='td-name'><label id="label-name{{id}}">{{name}}</label></td>
                    <td class='td-btn'>
                        <button idtag={{id}} type='button' class='btn-del' data-toggle='modal' data-target='#modal-delete-tag'
                            onclick="click_delete_tag(this)"><i class='fa fa-trash'></i></button>
                        <button id="edit-btn{{id}}" idtag={{id}} nametag="{{name}}" type='button' class='btn-edit'
                            data-toggle='modal' data-target='#modal-edit-tag' onclick="click_edit_tag_btn(this)"><i
                                class='fa fa-pencil-square-o'></i></button>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        <div id='btn_add_category'>
            <a data-toggle='modal' data-target='#modal-add-tag'>
                Thêm tag
            </a>
        </div>


        <div class='modal fade' id='modal-add-tag' role='dialog'>
            <div class='modal-dialog'>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Thêm tag</h1>
                    </div>
                    <div class="modal-body">
                        <textarea id="tag-name" placeholder="Tên tag"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" id="modal-add-tag-btn" class="btn-modal-send" onclick="click_add_tag()">Thêm</button>
                    </div>
                </div>
            </div>
        </div>

        <div class='modal fade' id='modal-edit-tag' role='dialog'>
            <div class='modal-dialog'>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1 class="modal-title">Chỉnh sửa tag</h1>
                    </div>
                    <div class="modal-body">
                        <textarea id="name-tag-modal-edit" placeholder="Tên tag"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" id="modal-edit-tag-btn" idtag="" class="btn-modal-send" onclick="click_edit_tag_name(this)">Lưu</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modal-delete-tag" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="center-block">Bạn có thực sự muốn xóa tag này</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn-modal-cancel" data-dismiss="modal">Đóng</button>
                        <button type="button" id="modal-delete-tag-btn" idtag="" class="btn-modal-send" onclick="click_send_delete_tag(this)">Xóa
                            đi</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>

        function click_delete_tag(btn) {
            //nhấn nút delete, hiện modal
            $("#modal-delete-tag-btn").attr("idtag", btn.getAttribute("idtag"));
        }

        function click_send_delete_tag(btn) {
            //nút xóa ở modal
            $.ajax("/api/admins/deleteTag/" + btn.getAttribute("idtag"), {
                type: 'get',
                dataType: 'json',
            }).done(data => {
                $("#modal-delete-tag").modal('hide');
                $("#tag" + btn.getAttribute("idtag")).remove();
            }).fail(function (xhr, textStatus, errorThrown) {
                var err = JSON.parse(xhr.responseText);
                alert(err.msg);
            });
        }

        function click_edit_tag_btn(btn) {
            //khi nhấn nút edit, hiện modal
            $("#modal-edit-tag-btn").attr("idtag", btn.getAttribute("idtag"))
            $("#name-tag-modal-edit").val(btn.getAttribute("nametag"));
        }


        function click_edit_tag_name(btn) {
            //nhất nút lưu ở modal
            const name_tag = $("#name-tag-modal-edit").val();
            if (name_tag.length < 2) {
                alert("Vui lòng nhập đủ độ dài của tags")
            }
            else {
                $.ajax("/api/admins/updateTag/" + btn.getAttribute("idtag"), {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        name: name_tag
                    }
                }).done(data => {
                    $("#modal-edit-tag").modal('hide');
                    $("#label-name" + data.data.id).text(data.data.name);
                    $("#edit-btn" + data.data.id).attr("nametag", data.data.name)
                }).fail(function (xhr, textStatus, errorThrown) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.msg);
                });
            }
        }

        function click_add_tag() {
            const name_tag = $("#tag-name").val();
            if (name_tag.length < 2) {
                alert("Vui lòng nhập đủ độ dài của tags")
            }
            else {
                $.ajax("/api/admins/createTag", {
                    type: 'post',
                    dataType: 'json',
                    data: {
                        name: name_tag
                    }
                }).done(data => {
                    console.log(data);
                    $("#modal-add-tag").modal('hide');
                    $("#table-sub-category").prepend(`<tr id='tag${data.data.id}'>
                    <td class='td-name'><label id="label-name${data.data.id}">${data.data.name}</label></td>
                    <td class='td-btn'>
                        <button idtag=${data.data.id} type='button' class='btn-del' data-toggle='modal' data-target='#modal-delete-tag'
                            onclick="click_delete_tag(this)"><i class='fa fa-trash'></i></button>
                        <button id="edit-btn${data.data.id}" idtag=${data.data.id} nametag="${data.data.name}" type='button' class='btn-edit' data-toggle='modal' data-target='#modal-edit-tag'
                            onclick="click_edit_tag_btn(this)"><i class='fa fa-pencil-square-o'></i></button>
                    </td>
                </tr>`)
                }).fail(function (xhr, textStatus, errorThrown) {
                    var err = JSON.parse(xhr.responseText);
                    alert(err.msg);
                });
            }
        }


    </script>

</div>