<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h2>{{category.name}}</h2>
                    </br>
                    <!-- post -->
                    {{#if new1}}
                    <div class="col-md-12">
                        <div class="post post-thumb">
                            <a class="post-img" href={{new1.link}}><img src={{new1.avatar}} alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href={{new1.sub_category.link}}>{{new1.sub_category.name}}</a>
                                    <span class="post-date">{{new1.publicAt}}</span>
                                </div>
                                <h3 class="post-title"><a href={{new1.link}}>{{new1.title}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <!-- /post -->

                    <!-- post -->
                    {{#if new2}}
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href={{new2.link}}><img src={{new2.avatar}} alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href={{new2.sub_category.link}}>{{new2.sub_category.name}}</a>
                                    <span class="post-date">{{new2.publicAt}}</span>
                                </div>
                                <h3 class="post-title"><a href={{new2.link}}>{{new2.title}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <!-- /post -->

                    <!-- post -->
                    {{#if new3}}
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img" href={{new3.link}}><img src={{new3.avatar}} alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href={{new3.sub_category.link}}>{{new3.sub_category.name}}</a>
                                    <span class="post-date">{{new3.publicAt}}</span>
                                </div>
                                <h3 class="post-title"><a href={{new3.link}}>{{new3.title}}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{/if}}
                    <!-- /post -->

                    <div class="clearfix visible-md visible-lg"></div>

                    <!-- ad -->
                    <div class="col-md-12">
                        <div class="section-row">
                            <a href="#">
                                <img class="img-responsive center-block" src="/img/ad-2.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- ad -->

                    <!-- post -->
                    {{#each news}}
                    <div class="col-md-12">
                        <div class="post post-row">
                            <a class="post-img" href={{this.link}}><img src={{this.avatar}} alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href={{this.sub_category.link}}>{{this.sub_category.name}}</a>
                                    <span class="post-date">{{this.publicAt}}</span>
                                </div>
                                <h3 class="post-title"><a href={{this.link}}>{{this.title}}</a></h3>
                                <p class="post-abstract">{{this.abstract}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- /post -->

                    {{#if isNextPage}}
                    <div class="col-md-12">
                        <div class="section-row">
                            <button class="primary-button center-block">Xem Thêm</button>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>

            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="/img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->

                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Mới nhất</h2>
                    </div>

                    <div id="post-widget">

                    </div>
                </div>
                <!-- /post widget -->

                <!-- catagories -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Chuyên Mục</h2>
                    </div>
                    <div class="category-widget">
                        <ul id="ul-category-widget">

                        </ul>
                    </div>
                </div>
                <!-- /catagories -->

                <!-- tags -->
                <div class="aside-widget">
                    <div class="tags-widget">
                        <ul>
                            <li><a href="#">Agricultural</a></li>
                            <li><a href="#">Seafood</a></li>
                            <li><a href="#">Football</a></li>
                            <li><a href="#">Athletics</a></li>
                            <li><a href="#">Domestic</a></li>
                            <li><a href="#">Foreign</a></li>
                            <li><a href="#">Male</a></li>
                            <li><a href="#">Female</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /tags -->

                {{!--
                <!-- archive -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>Archive</h2>
                    </div>
                    <div class="archive-widget">
                        <ul>
                            <li><a href="#">Jan 2018</a></li>
                            <li><a href="#">Feb 2018</a></li>
                            <li><a href="#">Mar 2018</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /archive --> --}}
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->