<div class="list_cata">
    <div>
        <div>
            <div>
                <div class="col-md-12">
                    <div class="row">
                        <div>
                            <h1>{{post_type}}</h1>

                            {{#if isAll}}
                            <div id="writer-list-all" class="writer-list-post list-cata">
                                {{!-- {{#each news}}
                                <div class="col-md-12">
                                    <div class="post post-row">
                                        <a class="post-img"><img src="./img/{{img}}"></a>
                                        <div class="post-body">
                                            <div class="post-meta">
                                                {{#if this.published}}
                                                <span class="post-category status-public">Đã xuất bản</span>
                                                {{/if}}
                                                {{#if this.draft}}
                                                <span class="post-category status-draft">Chờ duyệt</span>
                                                {{/if}}
                                                {{#if this.approved}}
                                                <span class="post-category status-approved">Chờ xuất bản</span>
                                                {{/if}}
                                                {{#if this.rejected}}
                                                <span class="post-category status-rejected">Bị từ chối</span>
                                                {{/if}}
                                                <span class="post-date">{{publicAt}}</span>

                                                <a class="post-category cat-2" style="float:right" href="/edit">Chỉnh
                                                    sửa</a>
                                            </div>
                                            <h3 class="post-title"><a>{{name}}</a></h3>
                                            <p class="post-abstract">{{abstract}}</p>
                                        </div>
                                    </div>
                                </div>
                                {{/each}} --}}
                            </div>
                            {{/if}}

                            {{!-- Bài viết chờ duyệt --}}
                            {{#if isDraft}}
                            <div id="writer-list-draft" class="writer-list-post list-cata">

                            </div>
                            {{/if}}

                            {{!-- Bài viết chờ xuất bản --}}
                            {{#if isApproved}}
                            <div id="writer-list-draft" class="writer-list-post list-cata">

                            </div>
                            {{/if}}

                            {{!-- Bài viết đã được xuất bản --}}
                            {{#if isPublished}}
                            <div id="writer-list-draft" class="writer-list-post list-cata">

                            </div>
                            {{/if}}

                            {{!-- Bài viết bị từ chối --}}
                            {{#if isRejected}}
                            <div id="writer-list-draft" class="writer-list-post list-cata">

                            </div>
                            {{/if}}

                            <div id="load-more-writer-list-container" class="col-md-12" hidden>
                                <div class="section-row">
                                    <button class="primary-button center-block" id="load-more-list">Xem Thêm</button>
                                </div>
                            </div>
                            {{!-- loading --}}
                            <div id="loading-writer-container" class="col-md-12 loading">
                                <img class="center-block" src="/img/loading.gif" alt=""></img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <script>
        (function ($) {
            "use strict"
            $(document).ready(function () {
                const per_page = 5;

                console.log('hello writer all')

                function writer_renderListPost() {

                }

                const list_all = $("#writer-list-all");
                const list_draft = $("#writer-list-draft");
                const list_approved = $("#writer-list-approved");
                const list_rejected = $("#writer-list-rejected");
                const list_published = $("#writer-list-published");

                if (list_all.length) {
                    console.log('list_all');
                }
                if (list_draft.length) {
                    console.log('list_draft');
                }
                if (list_approved.length) {
                    console.log('list_approved');
                }
                if (list_rejected.length) {
                    console.log('list_rejected');
                }
                if (list_published.length) {
                    console.log('list_published');
                }


            })
        })(jQuery)
    </script>
</div>